body{
    background-color: rgb(184, 141, 224);
}
form{
    width: 500px ;
}
input{
    background-color: blanchedalmond;
    border: none;
    border-radius: 5px;
}
button{
    width: 169px;
    background-color:rgb(206, 24, 226);
}